<footer class="bg-main p-3 h-14 fixed bottom-0 w-full z-10">
  <div class="container mx-auto flex justify-center items-center h-full space-x-28 sm:space-x-32">
    <%= link_to root_path, class: "text-accent hover:text-hover" do %>
      <i class="fas fa-home text-xl sm:text-2xl align-middle"></i>
    <% end %>
    <%= link_to posts_path, class: "text-accent hover:text-hover" do %>
      <i class="fas fa-search text-xl sm:text-2xl align-middle"></i>
    <% end %>
    <%= link_to new_post_path, class: "text-accent hover:text-hover" do %>
      <i class="fas fa-plus text-xl sm:text-2xl align-middle"></i>
    <% end %>
  </div>
</footer>