<div class="flex justify-center absolute bottom-20 sm:bottom-24 w-full space-x-6 sm:space-x-10 mb-0 text-sm sm:text-[16px]">
  <%= link_to t('static_pages.terms.title'), terms_of_service_path, class: "text-accent hover:underline" %>
  <%= link_to t('static_pages.privacy.title'), privacy_policy_path, class: "text-accent hover:underline" %>
  <%= link_to t('static_pages.contact.title'), contact_path, class: "text-accent hover:underline" %>
</div>