<footer class="bg-main p-4 fixed bottom-0 w-full z-10">
  <div class="container mx-auto flex justify-center items-center space-x-8">
    <%= link_to root_path, class: "text-text hover:text-accent" do %>
      <i class="fas fa-home fa-lg"></i>
    <% end %>
    <%= link_to "#", class: "text-text hover:text-accent" do %>
      <i class="fas fa-search fa-lg"></i>
    <% end %>
    <%= link_to "#", class: "text-text hover:text-accent" do %>
      <i class="fas fa-plus fa-lg"></i>
    <% end %>
  </div>
</footer>