<div id="saved-posts" class="container mx-auto px-4 max-w-4xl">
  <div class="space-y-4 mt-4">
    <% if @bookmarked_posts.present? %>
      <%= render partial: 'posts/post', collection: @bookmarked_posts %>
    <% else %>
      <div class='text-lg text-center'>保存した投稿はありません</div>
    <% end %>
  </div>
</div>