<div class="container mx-auto px-8 sm:px-4 max-w-4xl">
  <!-- 検索フォーム -->
  <%= render 'search_form', q: @q %>

  <!-- 検索結果または投稿一覧 -->
  <div class="space-y-4 mt-4 sm:mt-6">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class='text-lg text-center'><%= t('posts.index.no_posts') %></div>
    <% end %>
  </div>
</div>